<form method='POST'>
  <label for='comment-input-edit'>New comment</label>
  <input
    id='comment-input-edit'
    type='text'
    name='message'
    placeholder='Edit comment'
  />
  <br />
  <button>Edit comment</button>
</form>