{{> organizeNavbar}}

<h2>Organize Your Books with Custom Lists!</h2>

<br />

<form method='POST'>

  <label for='input-list-name'>New List Name</label>
  <input
    id='input-list-name'
    type='text'
    name='listName'
    placeholder='Favorite Books, Highly Recommended Books, Books to Reread, etc.'
  />

  <button>Create New Book List</button>
</form>