<div class="container">
  <div class="row justify-content-center">
    <h2 class='mb-5 fw-light'>Organize your books with custom lists</h2>
  </div>
  <div class='row row-flex'>

    <div class="col-md-8">
      <div class='card content bg-light text-dark text-center'>
        <h4><i class="bi bi-list-ul"></i>
              Create a new list</h4>
        <div class='card-body d-flex flex-column align-items-center justify-content-center'>
          <nav class='navbar'>
            <div class='container-fluid'>
              <form class='d-flex flex-column' method='POST'>

                
                <input
                  id='input-list-name'
                  type='text'
                  rows='2'
                  name='listName'
                  class='form-control my-5'
                  autofocus='on'
                  placeholder='Favorite Books, Highly Recommended Books, Books to Reread, etc.'
                />

                <button class='btn btn-lg btn-outline-success'>Create</button>
              </form>
            </div>
          </nav>

        </div>
      </div>
    </div>
    
    {{> myBookLists}}
  
  </div>



</div>



{{!-- 

  <div class='modal-content rounded-6 shadow'>
    <div class="modal-body p-5">
      <div class='form-floating'>
        <h1 class='h2 mb-5 text-dark fw-light'>Organize Your Books with custom lists</h1>
      </div>

      <div class='form-floating'>
        <form method='POST'>

          <label for='input-list-name'>New List Name</label>
          <input
            id='input-list-name'
            type='text'
            name='listName'
            class='form-control'
            autofocus='on'
            placeholder='Favorite Books, Highly Recommended Books, Books to Reread, etc.'
          />

          <button class='btn btn-outline-success mt-5'>Create New Book List</button>
        </form>
      </div>
    </div>
  


  <div class="d-flex bg-dark flex-wrap align-items-start justify-content-center">

    {{> myBookLists}}
      
  </div>

</div> --}}