<form method="POST">
    <h3>My Bio</h3>
    <br>
    <br>
    <label for="update-name">New Name</label>
    <input type="text" name="name" id="update-name" placeholder="Input new name">
    <br>

    <label for="update-email">New Email</label>
    <input id="update-email" type="email" name="email" placeholder="Input new email">
    <br>

    <label for="input-bio">Edit Bio</label>
    <br>
    <textarea id="input-bio" name="bio" rows="5" cols="48" placeholder="Write a few words about yourself!"></textarea>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button class="btn">Update Profile</button>
</form>