<div class='container'>
  <div class='row justify-content-center'>
    <h2 class='mb-5 fw-light'>Edit my profile</h2>
  </div>
  <div class='row row-flex'>

    <div class='col-md-12'>
      <div class='card content bg-light text-dark text-center'>
        <h4><i class='bi bi-person-circle'></i></h4>
        <div
          class='card-body d-flex flex-column align-items-center justify-content-center'
        >
          <form method='POST' enctype='multipart/form-data'>
            <h5 class='pb-2'>Upload a profile picture</h5>
            <input
              id='upload-profile-pic'
              type='file'
              name='profilePhoto'
              accept='image/*'
            />

            <h5 class='pt-3 pb-2'>Change your name</h5>
            <input
              type='text'
              name='name'
              id='update-name'
              class='form-control border-primary'
              placeholder='Choose a new name'
              value='{{user.name}}'
              required
            />

            <h5 class='pt-3 pb-2'>Change your email</h5>
            <input
              id='update-email'
              type='email'
              name='email'
              class='form-control border-primary'
              placeholder='Enter your new email'
              value='{{user.email}}'
              required
            />
            <h5 class='pt-3 pb-2'>Edit bio</h5>
            <textarea
              id='input-bio'
              name='bio'
              class='form-control border-primary'
              rows='5'
              cols='48'
              maxlength='750'
              placeholder='Write a few words about yourself!'
            ></textarea>
            <div>
              <button class='btn btn-lg btn-primary m-3'>Update Profile</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- <label for="update-password">New Password</label>
    <input id="update-password" type="password" name="passwordHashAndSalt" placeholder="Input new password">

    <br>

    {{#if update-password}}
    <label for="update-password">Confirm New Password</label>
    <input id="update-password" type="password" name="passwordHashAndSalt" placeholder="Confirm new password">
    {{/if}} --}}