<div class='container'>
  <div class='row justify-content-center'>
    <h2 class='my-5 text-light'>Thinking of restructuring?</h2>
  </div>
  <div class='row row-flex'>
    <div class='col-md-12'>
      <div class='card content bg-light text-dark text-center'>
        <h4><i class='bi bi-pencil-fill'></i></h4>

        <div
          class='card-body d-flex flex-column align-items-center justify-content-center'
        >
          <form id='move-to-different-list' method='POST'>
            <h5 class='pt-3'>Create a new list for this book, or choose from
              existing lists in dropdown below:</h5>
            <input
              id='move-to-new-list'
              type='text'
              name='bookList'
              class='form-control border-primary'
              {{!-- value='{{currentBookList}}' --}}
              placeholder='Input new list name to create for this book here!'
            />
            <button class='btn btn-lg btn-primary m-3'>Submit</button>
          </form>

          <div class='dropdown'>
            <button
              class='btn btn-primary mt-1 dropdown-toggle'
              type='button'
              id='moveBookDropdownMenu'
              data-toggle='dropdown'
              aria-haspopup='true'
              aria-expanded='false'
            > Move to Existing List </button>
            <div class='dropdown-menu' aria-labelledby='moveBookDropdownMenu'>
              {{#each bookLists}}
                <button
                  class='dropdown-item'
                  name='bookList'
                  value='{{listName}}'
                  form='move-to-different-list'
                  type='submit'
                >{{listName}}</button>
              {{/each}}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>