<div class='container'>
  <div class='row justify-content-center'>
    <h2 class='mb-5 fw-light'>Thinking of restructuring?</h2>
  </div>
  <div class='row row-flex'>
    <div class='col-md-12'>
      <div class='card content bg-light text-dark text-center'>
        <h4><i class='bi bi-pencil-fill'></i></h4>

        <div
          class='card-body d-flex flex-column align-items-center justify-content-center'
        >
          <form method='POST'>
            <h5 class='pt-3'>Edit below to move this book to a new or existing
              list:</h5>
            <input
              id='move-to-new-list'
              type='text'
              name='bookList'
              class='form-control border-primary'
              value='{{currentBookList}}'
              placeholder='Input desired list here'
            />
            <button class='btn btn-lg btn-primary m-3'>Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>