{{> profileNavbar}}

<form method='POST'>
  <label for='review-input'>Your Review</label>
  <input id='review-input' type='text' name='review' placeholder='Review' />
  <br />
  <label for='move-to-list'>Move book to a new or existing list</label>
  <input id='move-to-list' type='text' name='bookList' />
  <br />
  <button>Save Changes</button>
</form>