<main class='form-signin'>

  <img class='my-5' src='.././images/logo.jpg' alt='logo' width='100' />

  <form action='/authentication/sign-up' method='POST'>
    <h2 class='my-5 text-light'>Create an account</h2>

    <div class='form-floating'>
      <input
        type='text'
        class='form-control'
        id='floatingInput'
        name='name'
        placeholder='Your Name'
      />
    </div>
    <div class='form-floating'>
      <input
        type='email'
        id='floatingEmail'
        class='form-control'
        name='email'
        placeholder='Your Email'
      />
    </div>

    <div class='form-floating'>
      <input
        type='password'
        name='password'
        class='form-control'
        id='floatingPassword'
        placeholder='A strong Password'
      />
    </div>

    <button class='w-100 btn btn-lg btn-primary'>Sign Up</button>
    <div class='checkbox mt-3 mb-3'>
      <h5 class='text-light'>Already a member? Please sign in
        <a href='/authentication/sign-in'><b>here.</b></a></h5>
    </div>

  </form>
</main>