
{{> signInNavbar}}
<main class="form-signin">

  <div class="$red-500 mb-4">
  {{message}}
</div>
    <img class="mb-4" src=".././images/logo.jpg" alt="logo" width="72" >
<form action='/authentication/sign-in' method='POST'>
    <h1 class="h2 mb-5 fw-light">Please sign in</h1>

      <div class="form-floating">
  <input 
  type='email'
  name='email'
  class='form-control'
  id='floatingInput'   
  placeholder='Email address' />
  {{!-- <label for='floatingInput'>Email address</label> --}}
  </div>

  <div class="form-floating">
  <input
    type='password'
    name='password'
    class='form-control' {{!-- automatic length --}}
    id='floatingPassword'
    placeholder='Password'
  />
    {{!-- <label for='floatingInput'>Password</label> --}}
  </div>

<div class="checkbox mt-3 mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
       </label> {{!--not working yet --}}
    </div>

  <button class="w-100 btn btn-lg btn-primary">Sign In</button>

  <div class="checkbox mt-3 mb-3">
      <span>No account yet? <a href=/authentication/sign-up>Sign up </a>to this amazing website</span>
    </div>
</form>
</main>