<main class='form-signin'>

  <div class='$red-500 mb-4'>
    {{message}}
  </div>
  <img class='mb-4' src='.././images/logo.jpg' alt='logo' width='100' />
  <form action='/authentication/sign-in' method='POST'>
    <h2 class='my-5 text-light'>Please sign in</h2>

    <div class='form-floating'>
      <input
        type='email'
        name='email'
        class='form-control'
        id='floatingInput'
        placeholder='Email address'
      />
    </div>

    <div class='form-floating'>
      <input
        type='password'
        name='password'
        class='form-control'
        {{! automatic length }}
        id='floatingPassword'
        placeholder='Password'
      />
    </div>

    <div class='checkbox mt-3 mb-3'>
      <label>
        <input type='checkbox' value='remember-me' />
        Remember me
      </label>
      {{!not working yet }}
    </div>

    <button class='w-100 btn btn-lg btn-primary'>Sign In</button>

    <div class='checkbox mt-3 mb-3'>
      <span>No account yet?
        <a href='/authentication/sign-up'>Sign up </a>to this amazing website</span>
    </div>
  </form>
</main>